<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="../assets/css/jqwidgets/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="../assets/css/jqwidgets/jqx.material.css" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
    <script type="text/javascript" src="../assets/js/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../assets/js/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="../assets/js/jqwidgets/jqxtabs.js"></script>
    <script type="text/javascript" src="../assets/js/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="../assets/js/jqwidgets/demos.js"></script>

    <!-- View Editor Referencess-->
    <link href="../assets/js/jquery-ui-1.11.2/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="../assets/js/jquery-ui-1.11.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="../assets/css/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <script src="../assets/css/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <script src="../assets/js/autoCoder.js"></script>
    <script src="../assets/js/generalOptions.js"></script>
    <link rel="stylesheet" href="../assets/css/autoCoder.css">

    <script type="text/javascript">

    </script>
</head>

<body class='default'>
    <span class="openMenuBtn" onclick="openNav()">&#9776;</span>   
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
    </div>
    <div id='jqxWidget'>
        <div id='jqxTabs' style="float: left;">
            <ul style="margin-left: 30px;" id="unorderedList">
                <li>vista 1</li>
                <li canselect='false' hasclosebutton='false'>Add New Tab</li>
            </ul>
            <div>
            </div>
            <div>
            </div>
        </div>
    </div>
</body>

</html>