<body>
    <div class="container-fluid maindiv">
        <div class='MainElement Element viewContainer'>
            <div class="openHeaderBtn" onclick="closeHeader(this)">
                <a>&#9776;</a>
            </div>
            <div class="viewHeader">
                <div class='d-inline-flex card-header'>
                    <input id='Nombre' type='text' value='vista1' class='form-control' name='Nombre' placeholder='Nombre'
                        onchange='setNombre(this)'>
                    <input id='alto' type='text' value='600' class='form-control' name='alto' placeholder='Alto'
                        onchange='setAlto(this)'>
                    <input id='ancho' type='text' value='800' class='form-control' name='ancho' placeholder='Ancho'
                        onchange='setAncho(this)'>
                    <button type='button' id='btnAdd' onclick='AddElemnt(this);' class='btn btn-success float-right'><img
                            src='../assets/imgs/circle_plus.png' alt='del' style='width: 23px;' /></button>
                    <button type='button' id='btnEdit' onclick='EditElement(this);' class='btn btn-primary float-right'><img
                                src='../assets/imgs/pencil.png' alt='del' style='width: 23px;' /></button>
                </div>
            </div>
            <div class='panel-body viewContent'></div>
        </div>
    </div>
</body>