.select{
    display: block;
}
.controldiv{
    width: 92%; margin-left: 20px;
}
.maindiv{ 
    width: 2000px; height: 2000px; margin: 0px !important;
}
.viewContainer{
    display: inline-block; border: solid 2px black; padding: 5px; background-color: whitesmoke;
    position: relative;
}
.viewHeader{
    border: solid 1px lightslategrey; background-color:rgba(0,0,0,0.8);
    z-index: 1; top: 0; left: 0; position:absolute;
    padding-left: 15px;
    margin: 5px;
    width: 500px; 
    height: 300px;     
}
.viewContent{
    border: solid 1px lightslategrey; text-align: center; height: 100%;
    cursor:pointer;
} 

.openHeaderBtn{
    font-size: 30px !important; cursor:pointer; padding: 0; margin: 10px; color: red; 
    z-index: 2; top: 0; left: 0; position:absolute
}

/* menu superior */ 
.openMenuBtn{
    font-size:30px; cursor:pointer; padding: 5px;
}
.overlay {
    height: 0%;
    width: 95%;
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 30%;
    width: 90%;
    text-align: left;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .overlay a {
    padding: 4px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: -5px;
    left: 5px;
    font-size: 40px;
    width: 10%;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 30px;
    top: 5px;
    right: 5px;
    }
  }

  /* fin menu superior */


  /* menu a la derecha */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenavContent{
     padding: 10px !important;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /* fin menu a la derecha */