.select{
    display: block;
}
.controldiv{
    width: 92%; margin-left: 20px;
}
.maindiv{ 
    width: 2000px; height: 2000px; margin: 0px !important;
}
.viewContainer{
    display: inline-block; border: solid 2px black; padding: 5px; background-color: whitesmoke;
    position: relative;
}
.viewHeader{
    border: solid 1px lightslategrey; background-color:rgba(0,0,0,0.8);
    z-index: 1; top: 0; left: 0; position:absolute;
    padding-left: 15px;
    margin: 5px;
    width: 500px; 
    height: 300px;     
}
.viewContent{
    border: solid 1px lightslategrey; text-align: center; height: 100%;
    cursor:pointer;
} 

.openHeaderBtn{
    font-size: 30px !important; cursor:pointer; padding: 0; margin: 10px; color: red; 
    z-index: 2; top: 0; left: 0; position:absolute
}

/* menu superior */ 
.openMenuBtn{
    font-size:30px; cursor:pointer; padding: 5px;
}
.overlay {
    height: 0%;
    width: 98%;
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow: hidden;
    transition: 0.2s;
  }
  
  .overlay-content {
    position: relative;
    top: 17%;
    width: 98%;
    text-align: left;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .overlay a {
    padding: 4px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.2s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: -5px;
    left: 5px;
    font-size: 40px;
    width: 10%;
  }

  .overlay .generatebtn {
    position: absolute;
    top: 15px !important;
    right: 15px !important;
    margin-right: 5px !important;
  }

  .overlay .savebtn {
    position: absolute;
    top: 15px !important;
    right: 70px !important;
    margin-right: 5px !important;
  }

  .overlay .openbtn {
    position: absolute;
    top: 15px !important;
    right: 125px !important;
    margin-right: 5px !important;
  }

  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 30px;
    top: 5px;
    right: 5px;
    }
  }

  /* fin menu superior */


  /* menu a la derecha */
  .sideMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
  }

  .sidenavContent{
     padding: 10px !important;
  }
  
  .sideMenu a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.2s;
  }
  
  .sideMenu a:hover {
    color: #f1f1f1;
  }
  
  .sideMenu .savebtn {
    position: absolute;
    top: 15px !important;
    left: 5px !important;
    margin-left: 5px !important;
  }
  .sideMenu .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sideMenu {padding-top: 15px;}
    .sideMenu a {font-size: 18px;}
  }
  /* fin menu a la derecha */